.GoBack {
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    height: 50px;
    position: absolute;
        left: 20px;
        top: 20px;
    width: 50px;
    z-index: 999;
}

.dinamic_background+.GoBack {
    filter: brightness(0);
}